.header {
  color: #242429;
}
body {
  border: 0px;
  padding: 0px;
  margin-top: 10px;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0px;
  margin: 5px;
}
a {
  margin: 20px;
  text-decoration: none;
}
a span:hover {
  color: black;
  text-shadow: 1px 1px 2px black;
}
.separator {
  font-weight: 100;
}
input[type=text] {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 0px dotted blue;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px dashed black;
  color: #8B2323;
  text-shadow: 1px 1px 1px white;
  letter-spacing: 0.1em;
}
div.label {
  padding: 0px;
  margin: 0px;
  display: inline;
}
div.menu {
  margin-bottom: 20px;
}
div.control {
  margin: 0px;
}
label {
  width: 300px;
  align: right;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.25em;
  color: black;
}
.menu {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 2px;
  color: black;
  letter-spacing: 0.2em;
  margin: 2px;
  font-weight: bolder;
  font-variant: normal;
  font-family: Tahoma;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center!important;
}
button {
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;
  background: white;
  font-weight: lighter;
  border-radius: 8px;
  border: 1px solid orange;
  background-color: orange;
  font-size: 12px;
}
button:hover {
  background-color: orange;
  text-shadow: 1px 1px 2px white;
}
table {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 12px;
  color: #333333;
  border-collapse: collapse;
  border-radius: 10px;
}
table thead {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: black;
  color: white;
}
table td {
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid black;
}
.radio {
  margin: 10px;
}
input[type=radio] {
  display: none;
}
input[type=radio] + label {
  background-color: lightgray;
  margin: 0px;
  padding: 4px 12px;
}
input[type=radio]:checked + label {
  background-image: none;
  outline: 0;
  background-color: #e0e0e0;
  background-color: lightblue;
  color: black;
  font-weight: bolder;
  border-bottom: 2px solid black;
}
