html
	head
		script(src="http://10.0.0.160:35729/livereload.js")
		link(rel="stylesheet",href="style.css")
		link(rel="stylesheet",href="./bower_components/font-awesome/css/font-awesome.css")

	body
		div.menu
			a(href="#").menu
				span.fa.fa-facebook   Home
			a.separator |
			a(href="#").menu
				span.fa.fa-twitter  Contact
			a.separator |
			a(href="#").menu
				span.fa.fa-google-plus  About
			a.separator |
			a(href="#").menu
				span.fa.fa-folder  Price
		hr

		div.control 
			div.label
				label  User
				input(type="text")
			div.label
				label  Email
				input(type="text")
			
			div.label
				button 
					span.fa.fa-facebook   Hello
				button
					sapn.fa.fa-twitter   Hi
			hr

		div.radio
			input(type="radio", name="option", id="xxx")
			label(for="xxx") 
				span.fa.fa-twitter  Liverpool

			input(type="radio", name="option", id="yyy")
			label(for="yyy") 
				span.fa.fa-google-plus  Manchester United

			input(type="radio", name="option", id="zzz")
			label(for="zzz") 
				span.fa.fa-facebook  Arsenal
		table
			thead
				tr
					td Email
					td Address
					td Status
			tbody
				tr
					td somnuk.wk@gmail.com
					td yyyyy
					td 
						button 
							span.fa.fa-twitter  Check
				tr
					td somnuk.wk@ecmexport.com
					td yyyyy
					td 
						button 
							span.fa.fa-twitter  Check




